body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, rgba(247,251,252,1) 0%,rgba(173,217,228,1) 35%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2e2f42;
    padding-left: 30px;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
button[type="button"]{
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #4e75ff;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
button.disabled{
    background: #CFCFCF;
    color: #989898;
}
button[type="button"]:hover{
    background-color: #6C8CFF;
}
button.disabled:hover{
    background: #CFCFCF;
}
#datetime-picker{
    border-radius: 4px;
    width: 280px;
    height: 40px;
    margin-right: 8px;
    border: solid 1px #2E2F42;
    padding-left: 15px;
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}
#datetime-picker.disabled{
    background-color: #808080;
}
.timer{
    width: 346px;
    height: 72px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.field{
    width: 55px;
    height: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.label{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.value{
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
}
